html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;

}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background-color: rgb(215, 223, 230);
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 3rem;
  font-family: 'Lucida Sans Unicode', sans-serif;
  color: pink;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: rgb(245, 157, 198);
  font-size: 3rem;
  width: 75px;
  height: 75px;
  border: 2px #ccc dotted;
  border-radius: 20%;
  background-color: rgb(202, 225, 233);
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: rgb(250, 223, 227);
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") rgb(228, 135, 228);
}

div.hidden {
  background: rgb(154, 198, 240);
}

div.hidden:hover {
  background: rgb(243, 149, 201);
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") deepskyblue;
}
.button {
    background-color: rgb(188, 188, 194); 
    border: none;
    color: rgb(247, 123, 210);
    padding: 3px 3px 3px 3px;
    margin: 8px 8px 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}